div.standard-form.oggDude-data-importer {
  section.file-picker {
    margin-bottom: 2em;

    label {
      flex: 1;
    }

    input[type="file"] {
      flex: 2;
    }
  }

  section.domain-selection {
    margin-bottom: 2em;
  }
}